
.row {
    margin-right: 0px;
    margin-left: 0px;
    width: 120%;
}
.col
{
    padding-right: 0px;
    padding-left: 0px;
}

body{
    
    background-color: black !important;
}

div.heihei{
    color: white;
    text-align: center;
    height: 100%;
}
div.container{
    width: 100%;
    margin: 0px;
    border: 0px;
}
span {
    display: inline-block;
    width: 50%;
  }

.vertical-text {
    margin-top: 5%;
    transform: rotate(90deg);
    transform-origin: left top 0;
    animation-name: colorful;
    animation-duration: 8s;
}

@keyframes colorful {
    from {color: black;}
    to {color: red;}
  }

