    body {  background-color : #D98880;}
    h1{
        text-align: center;
        font-size:50px;}
    .Itro{
        display:block;
        text-align: center;
        font-size:28px;
        color: white;
    }
    .all {
        display:flex;
        justify-content: space-evenly;
    }
    img {
        width:400px;
        border: 5px outset #F1C40F;
    }
    .Con, .ST {
        color:white; 
        border: 3px dashed #873600;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        float:left;
        font-family: cursive;
        background-color:#979A9A;
    }
    .Br, .Sp {
        color:white; 
        border: 3px dashed #873600;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        float:right;
        font-family: cursive;
        background-color: #979A9A;
    }
    a {
        color:white;
        font-size:30px;
        display:flex;
        justify-content: space-evenly;
    }
    