.App{
  display: flex;
  min-height: 100vh;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
.V_Center{
  flex: 1;
  align-self: center;
}
.FileUpload{
  border: 1px solid #eee;
  border-radius: 2px;
  max-width: 330px;
  margin: auto;

  padding: 12px 24px;
}

.Progress,
.Progress__Seek{
  height: 3px;
}
.Progress{
  background-color: #eee;
  margin: 24px;
}
.Progress__Seek{
  background-color: green;
}

#img{
  background-image:url("https://techx-2.kevincdn.cn/assets/img/background1.jpg")
}

.fnt{
  font-family:"Comic Sans MS", cursive, sans-serif;
  }

.fnt2{
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:white;
  }