
body {
 background: url('/static/pics/smok.jpg') no-repeat center center fixed;
background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: Times, sans-serif;
  font-size: 14px;
}


h1 {
  font-size: 35px;
}

.header{
 height: 100px;
}
.card{
  background-color:rgba(0, 1,0,0.3);
  color: white;
}
.maininfo {
  color: rgb(30, 30,30);
  background-color: rgba(102, 51,0,0.3);
  font-size: 16px;
}

.sidebar {font-size: 30px;}
.nav-link { color: #000;
font-size: 25px;}
.nav-link:hover { color: #fff;
    font-size: 25px;
}


.btn-primary{
border-color: #fff;
}

.btn-outline-info:hover {
    color: #fff;
    background-color:#C75100;
    border-color: #C75100;
}


.center{
  margin-left: auto;
  margin-right: auto;
  width:70%;
}

.btn-primary:hover{
    background-color: rgb(199, 81,0);
    border-color: white;
    color:black;
}
.btn:focus{
  border-color:white;
}

.card a{
  color:rgb(199, 81,0);
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.form-control{
  background-color: rgba(199,199,188,0.4);
  box-shadow: 0 1px 1px yellow inset, 0 0 8px red);
  outline: 0 none;
}
#selfintro{
  color:rgb(199, 81,0);
}