<!DOCTYPE html>
<!--created by TeaPP>
<html lang="en">
    <head>
        <-- Required meta tags -->
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS and my own -->
        <link href="/favicon.ico" rel="icon">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <title>Marlene Lin's</Link></title>
    </head>
    <body style="background-color: black;">
        <div class="container">
            <div class="row header">

            </div>
            <div class="row">
               <div class="col-md-1 col-lg-1 col-xl-1"></div>
               <div class="col-md-3 col-lg-3 col-xl-3 sidebar">
                            <ul class="nav flex-column">
								<li class="nav-item">
									<p><i><a class="nav-link" href="maelenenenenene.html"><b>Marlene Lin</b></a></i></p>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="resume.html">Resume</a>
                                </li>
							</ul>
               </div>
               <div class="col-md-8 col-lg-8 col-xl-8 maininfo">
                <div class="row">
                    <div class="col footer">
                        <div class="card">
                            <div class="card-header">
                              <i><b>テレビを見る時は部屋を明るくして離れて見て下さい</b></i>
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Marlene Lin 林炜倩 </br>
                                    </p>
                                <footer class="blockquote-footer">330 De Neve Dr., Los Angeles, CA. 90024 | 424-440-9115 | timshel@ucla.edu</footer>
                              </blockquote>
                            </div>
						  </div>
						</div>
				</div>
						  <br>
				<div class="resume">
					<div class="row">
						<div class="sect"><b>EDUCATION</b>
						<span></span>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-6">
							<i>B.S., Computational and System Biology</i>
						</div>
						<div class="date col-md-1 col-lg-1 col-xl-1"></div>
						<div class="date col-md-3 col-lg-3 col-xl-3">
							<p>Los Angeles, CA<br>
								Sept. 2019 – June 2023
							</p>								
						</div>
					</div>
					<div class="row summary">
						<ul>
							<ol> Overall GPA: 3.93
								</ol>
							<ol>Related Coursework: Molecular and Cellular Biology, Biotechnology and Society, Linear Algebra, Differential Equations, Multivariable Calculus, Introduction to Computer Science I.
							</ol>
							
						</ul>
					</div>
					<div class="row">
						<div class="sect"><b>SKILLS & LANGUAGES</b>
						<span></span>
						</div>
					</div>
					<div class="row summary">
						<ul>
							<ol><b>Laboratory:</b> • Autoclave • PCR • Plasmid assembly •Cell Culture</ol>
<ol><b>Computer skills:</b> • python • advanced HTML • Linux/Unix OS • Microsoft Words/PowerPoints/Excel</ol>
<ol><b>Languages</b> • Mandarin and Cantonese (Native) • English (Proficient)</ol>

							
						</ul>
					</div>
                </div>
              










            </div>
  <div class="col-1"></div>
           </div>

           
       </div>





        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
